#about-us{
    padding: 90px 0 50px 0;
    max-width: 980px;
    margin: auto;
    font-family: "Fira Sans", sans-serif;
}
.post__content{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #6b6b6b;
    text-align: center;
}

.about__logo{
    max-width: 275px;
    max-height: 289px;
    padding: 0 25px 0 25px ;
    margin-left: 5px;
}

.about-us__title-span{
    color: #f6f0e9;
    font-size: 40px;
}
#about-us__title{
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    color: #303030;
    margin-left: 25px;
}
.about-us__title-text{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #555555;
    line-height: 30px;
    margin: 25px;
}
.about-us__text{
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #6b6b6b;
    margin: 25px ;
}
.about-us__ullist{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #858282;
    margin: 50px ;
}


.post__shipping, .post__fabrics, .post__discount,.post__pay{
    width: 250px;
    height: 280px;
    padding-right: 20px;

}
.post__photo{
    width: 250px;
    height: 150px;
}
.post__text{
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
}

/* Media */

@media (min-width: 600px){

    main .posts{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}
@media (min-width: 720px){

    main .posts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 750px){

    main .container__about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
    
    main .about__logo{
        max-width: 570px;
        max-height: 700px;
    }

    main #about-us__title{
        font-size: 60px;
        line-height: 66px;
    }
}
@media (min-width: 1000px){

    main .posts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}