h8 {
    text-align: center;
}

.img-nastya {
    width: 5%;
    display: block;
    margin: auto;
}

.img-nastya01 {
    width: 5%;
    display: block;
    margin: auto;
}

.img-mashka {
    width: 5%;
    display: block;
    margin: auto;
}