@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Fira+Sans:wght@100;400&display=swap');

#collections {
    background-color: #f6f0e9;
    }
.our_collection_text {
        font-size: 40px;
        font-family: "Cormorant Garamond", sans-serif;
        text-align: center;
        color: rgb(48, 48, 48);
}
.collection__content {    
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    color: rgb(85, 85, 85);
}
.collections img {
    font-size: 16px;
    font-weight: 400px;
    height: 272px;
    line-height: 24px;
    width: 272px;
    }
#limited {
    text-align: left;
    color: rgb(107, 107, 107);
}
#lingerie-sets  {
    text-align: left;
    color: rgb(107, 107, 107);
}

.price_collection {
    color: rgb(197, 175, 147);
}
.button {
    color: white; 
    height: 52px;      
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    width: 151.672px;
}
.button:hover {
    color: white;
    background-color: #a6a6a6;
}
#testimonials {
    background-color: #f6f0e9;
    margin-bottom: 30px;
}
.testimonials p {
    text-align: center;
}
.testimonials img  {
    object-fit: cover;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    display: block;
    margin: 0 auto;
}
.testimonials-name {
    color: rgb(197, 175, 147);
    font-family: "Fira Sans", sans-serif;
    font-size: 22px;
    display: block;
    margin: auto;
    text-align: center;
}
.tania-gordons-block {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}
.julia-sheffeld-block {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}
.alice-smith-block {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Oleh Mamalyha */

.collection_foto {
    position: relative;
    width: 100%;
    margin: auto;
}
#limited, #lingerie-sets {
    max-width: 500px;
}
/* Oleh Mamalyha ends optimization */


