img.flora, .tamara, .judie, .helena {
    width: 373.5px;
}

img.erica, .lilly, .caroline, .eloise {
    width: 373.5px;
}

img.alice-smith, .julia-sheffeld, .tania-gordons {
    width: 120px;
    border-radius: 50%;
}