@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.image-in-footer{
    height: auto;
    width: 150px;
}

/* footer position */
footer {
    padding:80px 0 30px 0;
    text-align:center;
}

/* link groups styles */
.footer-upper-left-container, .footer-lower-right-container, .footer-link{
    color: rgb(85, 85, 85);
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
}

/* spase between links */
.footer-link-line{
    margin-top: 20px;
    margin-bottom: 20px;   
}
.subscribe-form-container{
    padding: 0 25px 30px 25px;
}

/* form defaults */
.footer-email-field, .footer-subscribe-button{
    all: initial;
    font-family: 'Fira Sans', sans-serif;
    padding: 16px 0 16px 0;
    text-align: center;
    width: 100%;
}

.footer-email-field{
    
    background-color: rgba(203, 203, 203, 0.12);
    cursor: text;
}
::placeholder{
    color: rgba(107, 107, 107, 0.5); 
   }

.footer-subscribe-button{
    background-color: rgb(197, 175, 147);
    cursor: pointer;
    margin-top: 25px;
    line-height: 16px;
}
.footer-button-text{
    color: rgb(255, 255, 255);
    text-decoration-style: solid;
    font-weight: 700;
}

hr {
    margin: 0 25px 0 25px;
    size: 1px;
    border-color: rgba(48, 48, 48, 0.199);
    
}

.copyright-lines{
    margin-top: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: rgb(107, 107, 107);

}
@media (min-width: 750px){
    footer{
        padding: 0;
    }
    footer>div{
        display: flex;
        width: 100%;
        padding: 0 30px 0 30px;


    }
    .footer-upper-left-container, .footer-lower-right-container, .footer-link, .image-in-footer-container{
        margin: auto;

      }

    .subscribe-form-container{
      padding: 30px 25px 30px 25px;

    }
    .copyright-lines{
        text-align: initial;
        margin: auto;
        justify-content: space-around;
        padding: 20px 30px 20px 30px;

    }

}

