@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.image-in-footer{
    display: flex;
    height: auto;
    margin: auto;
    width: 150px;
}

/* footer position */
footer {
    padding:80px 0 30px 0;
    /* text-align:center; */
}

/* link groups styles */
.footer-upper-left-container, .footer-lower-right-container, 
.footer-link, .text-in-modal {
    color: rgb(85, 85, 85);
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    text-align: center;
}

/* spase between links */
.footer-link-line {
    margin-top: 20px;
    margin-bottom: 20px;   
}

.footer-link:hover {
color: rgb(197, 175, 147);
}

.subscribe-form-container {
    padding: 0 25px 30px 25px;
}

/* form defaults */
.footer-email-field, .footer-subscribe-button, .modal-title {
    all: initial;
    font-family: 'Fira Sans', sans-serif;
    padding: 16px 0 16px 0;
    text-align: center;
    width: 100%;
}

.footer-email-field{
    
    background-color: rgba(203, 203, 203, 0.12);
    cursor: text;
}
::placeholder{
    color: rgba(107, 107, 107, 0.5); 
   }

.footer-subscribe-button, .footer-btn-in-modal {
    background-color: rgb(197, 175, 147);
    cursor: pointer;
    margin-top: 25px;
    line-height: 16px;
    transition: background-color 0.5s;
    border-width: 0;

    color: rgb(255, 255, 255);
    text-decoration-style: solid;
    font-weight: 700;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: rgb(197, 175, 147);
    border-color: rgb(197, 175, 147);
    box-shadow: none;
}

.footer-button-text {
    color: rgb(255, 255, 255);
    text-decoration-style: solid;
    font-weight: 700;
}

.footer-subscribe-button:hover, .footer-btn-in-modal:hover {
    background-color: rgb(48, 48, 48);
}

.modal-header {
    justify-content: end;
    width: 100%;
    margin: auto;
}

.modal-content {
    margin: auto;
    max-width: 344px;

}

.footer-btn-in-modal {
    display: block;
    margin: auto;

}

.hr-footer {
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px; 
    border-width: 1px;
    background-color: rgba(48, 48, 48, 0.795);
    width: 93%;
    
}

.copyright-lines{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: rgb(107, 107, 107);
    text-align: center;
    margin: auto;
    width: 95%;
    
}


 .img-in-footer-carousel {
    width: 50%;
    margin: 0 0 0 25%;
}


.footer-carousel-js {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

@media (min-width: 750px){

    .w-100{
        width: 30% !important;
    }

    footer{
        padding: 0;
        width: 80%;
        margin: auto;
    }

    footer>div{
        display: flex;
        width: 95%;
        margin: auto;
    }

    .footer-upper-left-container, .footer-lower-right-container, .footer-link, .image-in-footer-container{
        margin: auto;
        width: 25%;
    }

    .subscribe-form-container{
      padding: 0;
      margin: auto;

    }

    .hr-footer{
        width: 95%;
    }

    .copyright-lines{
        display: flex;
        justify-content: space-between;
    }

}
