@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.header {
    margin-bottom: 10px;
}

div.main-menu {
    font-family: 'Fira Sans', sans-serif;
}

img.facebook-logo, .istagram-logo, .youtube-logo {
    width: 30px;
    height: 30px;
}

img.image-in-menu {
    width: 150px;
    height: auto;
}

div.menu {
    color: #303030;
    margin-left: 15px;
    margin-top: 25px;
}

ul.burger-menu {
    color: #303030;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

ul.burger-menu-ul {
    list-style-type: none;
    padding: 0px;
}

li.burger-menu-li {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

a.burger-menu-a {
    text-decoration: none;
    color: #303030;
}

div.telephone {
    color: #c5af93;
    font-weight: bold;
}

div.text-in-background {
    height: 568px;
    background-image: url(../img/header/backgroud-girl-header.webp);
    min-width: 32px;
    max-width: 1920px;
}

div.telephone {
    text-align: center;
}

div.social-icons {
    text-align: center;
}

p.handmade {
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

p.lingerie {
    font-family: "Cormorant Garamond", serif;
    font-size: 64px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

a.discover {
    color:#303030;
}
