/* lookbook */
.lookbook img{
    width: 357px;
    height: 326px;
    object-fit: cover;
    display: flex;
    margin: auto;
    cursor: pointer;
    
    }

.lookbookImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.lookbook h2{
    color:black;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.lookbook p{
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    text-align: center
}
.button-carusel {
    width: 357px;
    height: 326px;
    object-fit: cover;
    cursor: pointer;
    border: 0;
    background: none;
    box-shadow: none;
}
@media (min-width: 750px) {
    /*.lookbook p, .lookbook h2, p{
        font-family: inherit;
    }*/
    .subscribe button, .subscribe input {
        width: 308px;
    }
    .lookbookImages {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}