.row .column {
    padding: 0 8px;
    
   }
   
 .row:after {
     content: "";
     display: table;
     clear: both;
   }
   
   /* Create four equal columns that floats next to eachother */
 .column {
     float: left;
     width: 25%;
   }
   
   /* The Modal (background) */
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: black;
   }
   
   /* Modal Content */
   .modalContent {
     position: relative;
     background-color: #fefefe;
     margin: auto;
     padding: 0;
     width: 90%;
     height: 50%;
     max-width: 600px;
   }
   
   /* The Close Button */
   .close {
     color: white;
     position:sticky;
     top: 10px;
     right: 25px;
     font-size: 35px;
     font-weight: bold;
   }
   
   .close:hover,
   .close:focus {
     color: #999;
     text-decoration: none;
     cursor: pointer;
   }*/
   
   /* Hide the slides by default */
   .mySlides {
     display: none;
   }
   
   /* Next & previous buttons */
   .prevArrow,
   .nextArrow {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     padding: 16px;
     margin-top: -50px;
     color: white;
     font-weight: bold;
     font-size: 20px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
     -webkit-user-select: none;
   }
   
   /* Position the "next button" to the right */
   .nextArrow {
     right: 0;
     border-radius: 3px 0 0 3px;
   }
   
   /* On hover, add a black background color with a little bit see-through */
   .prevArrow:hover,
   .nextArrow:hover {
     background-color: rgba(0, 0, 0, 0.8);
   }
   
    
   /* Caption text */
/*.caption-container {
     text-align: center;
     background-color: black;
     padding: 2px 16px;
     color: white;
   }*/
   
   img.demo {
     opacity: 0.6;
   }
   
   .active,
   .demo:hover {
     opacity: 1;
   }
   
   img.hover-shadow {
     transition: 0.3s;
   }
   
   .hover-shadow:hover {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .row img, .mySlides img{
     width: 357px;
     height: 326px;
     object-fit: cover;
     display: flex;
     margin: auto;
     cursor: pointer;
   }
