/* subscribe */
/*.subscribe{
    position: relative;
    background-color:rgb(212, 191, 173);
}*/
.subscribe h1{
    color:white;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    position: relative;
}
.lookbook h2{
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    position: relative;
}  
.subscribe p{
    font-family:"Fira Sans", sans-serif;
    font-size: 19px;
    color: white;
    }
.subscribe input{
    font-family:"Fira Sans", sans-serif;
    font-size:16px;
    font-stretch:100%;
    font-weight: bolder;
    text-align: auto;
    color:blanchedalmond;
    background-color: rgb(212, 191, 173);
    width: 308px;
    height: 48px;
}
.subscribe button{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 308px;
    height: 48px;
    border: 2px;
    margin: 12px 0px;
}
/*input{
    text-align: left;
    color:blanchedalmond;
    background-color: rgb(212, 191, 173);
    width: 308px;
    height: 48px;
} */
.figures{
    font-weight: bolder;
    font-style: italic;
}
.background .subscribe{
    background-image: url(../img/lookbook/black-top.png);
    background-size: 100%;
    background-position: center;
    padding: 90px;
    background-attachment: fixed;

}