/* subscribe */
/*.subscribe{
    position: relative;
    background-color:rgb(212, 191, 173);
}*/
.subscribe h1{
    color:white;
    font-family: "Cormorant Garamond", serif;
    font-size: 50px;
    font-weight: 700;
    position: relative;
}
/*.lookbook h2{
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    position: relative;
}  */
.subscribe p{
    font-family:"Fira Sans", sans-serif;
    font-size: 19px;
    color: white;
    }
.subscribe input{
    font-family:"Fira Sans", sans-serif;
    font-size:16px;
    font-stretch:100%;
    font-weight: bolder;
    text-align: start;
    color:blanchedalmond;
    background-color: rgb(212, 191, 173);
    width: 100%;
    height: 48px;
    border: 0;
    box-shadow: none;
}
.subscribe button{
    font-family:"Fira Sans", sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 100%;
    height: 48px;
    border: 2px;
    margin: 12px 0px;

}
/*input{
    text-align: left;
    color:blanchedalmond;
    background-color: rgb(212, 191, 173);
    width: 308px;
    height: 48px;
} */
.figures{
    font-weight: bolder;
    font-style: italic;
}
.background .subscribe{
    background-image: url(../img/subscribe/background-girl.webp);
    background-size: auto;
    background-position: center;
    padding: 90px;
    background-attachment: fixed;
    margin-top: 50px;
}
@media (min-width: 750px) {
   /* .subscribe h1, .subscribe p{
        font-family: inherit;
    }*/
    .subscribe button, .subscribe input {
        width: 308px;
    }
}
        
