@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Fira+Sans:wght@100;400&display=swap');

.collections {
    background-color: #f6f0e9;
}
img.alice-smith, .julia-sheffeld, .tania-gordons {
    width: 120px;
    border-radius: 50%;
}

.testimonials_clients {
    font-family: "Cormorant Garamond", serif;
    color: rgb(48, 48, 48);
    font-size: 40px;
    text-align: center;
}

.testimonials_content {
    font-family: "Fira Sans", sans-serif;
    color: rgb(117, 72, 72);
    font-size: 20px;
    text-align: center;
}